*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    // min-width: 100px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1px;
    background-color: #515151;
    overflow-x: scroll;
}
.inn{
    margin-top: 3rem;
    padding: 2rem;
    min-width: fit-content;
    min-height: min-content;
    width: 30%;
    min-width: 356px;
    height: 70%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    border-radius: 30px;
    // color: white;
}
.progress{
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap:2px
}
progress{
    width: 50%;
    height: 40px;

}
.addedtasklist{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem;
    gap: 1px;
    background-color: rgba(255, 255, 255, 0.058);
    overflow: scroll;
    scrollbar-width: none;
    border-radius: 10px;
    color: white;
}
.innerlist{
    border: 1px solid rgb(188, 188, 7);
    border-radius: 5px;
    width: 100%;
     display: grid;
     padding: 2px;
    //  justify-items: center;
     align-items: center;
    grid-template-columns: repeat(2,1fr);
}
.tasklist{
    width: 100%;
    height: 45px;
}
.addedtasklist p{
    display: inline;
}
button{
    position: relative;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    background-color: rgb(4, 75, 75);
    overflow: visible;
    color: white;
}
button::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(212, 26, 26);
    
}
.tasklist{
    width: 100%;
    text-align: center;
    
}
input{
    width: 50%;
    border-radius: 10px;
    padding: 1em;
}
@media (max-width:400px) {

    .container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1px;
    // background-color: #c51515;
    overflow-x: scroll;
    padding-left: 0.5rem;
    }
    .inn{
    margin-top: 1rem;
    padding: 1rem;}
}
.completed{
    text-decoration: line-through;
    font-size: x-large;
    background-color: yellow;
    color: black;
    font-size: xx-large;
    text-align: center;

}